/*variables*/
:root {
  --slate: #434455;
  --light-text-color: #ffffff;
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*common styles*/
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  background: var(--light-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}
/*responcive img*/
img {
  display: block;
  width: 100%;
  height: auto;
}

/*components */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.text-header-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.text-header-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.text-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}

.feature-header-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  margin-bottom: 8px;
  text-align: center;
}

.feature-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}

/*everywhere*/

/*header*/
.top-header {
  background: var(--light-text-color);
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
}
/*nav*/
.top-nav {
  display: flex;
  align-items: center;
}

.link-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.web-top {
  line-height: 1.33;
  color: var(--iris);
}

.studio-top {
  line-height: 1.33;
  color: var(--navy-blue);
}

/*hero*/
.hero {
  text-align: center;
  padding-bottom: 112px;
  padding-top: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero_mob@1x.jpg");
  max-width: 428рх;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--navy-blue);
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--light-text-color);
  text-transform: capitalize;
}
.modal-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  min-width: 169px;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  color: var(--light-text-color);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background var(--transition-timing),
    box-shadow var(--transition-timing);
}

.modal-button:hover,
.modal-button:focus {
  background: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*feature*/
.section-feature {
  padding-top: 96px;
  padding-bottom: 96px;
}

.feature-item {
  width: 100%;
}

/*What are we doing*/
.section-our-works {
  display: none;
}

/*Our Team*/
.section-our-team {
  background: var(--cloud);
  padding-top: 96px;
  padding-bottom: 128px;
}

.our-team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-description {
  padding: 32px 16px;
  text-align: center;
  background: var(--light-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color var(--transition-timing);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--ocean);
}
.social-list-icon {
  fill: var(--light-text-color);
  transition: fill var(--transition-timing);
}
.social-list-icon:hover,
.social-list-icon:focus {
  fill: var(--cloud);
}

/*Customers*/
.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customer-list-item {
  width: 190px;
  height: 88px;
}
.customer-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color var(--transition-timing), border var(--transition-timing);
}
.customer-list-icon {
  fill: currentColor;
}
.customer-list-link:hover,
.customer-list-link:focus {
  border: 1px solid var(--ocean);
  color: var(--ocean);
}

/*footer*/
.footer {
  background: var(--navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cornflower);
  margin-top: 16px;
  width: 264px;
}

.link-logo-bottom {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: block;
}
.web-bottom {
  line-height: 1.17;
  color: var(--iris);
}

.studio-bottom {
  line-height: 1.17;
  color: var(--cloud);
}
/*footer social*/
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-text-color);
}
.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-timing);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--green);
}

.footer-list-icon {
  fill: var(--light-text-color);
  transition: fill var(--transition-timing);
}

.footer-list-icon:hover,
.footer-list-icon:focus {
  fill: var(--cloud);
}
/*footer subscription*/

.subscription-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-text-color);
  margin-bottom: 16px;
}

.subscription-form-field {
  position: relative;
  margin-right: 24px;
}

.subscription-form-input {
  background-color: var(--navy-blue);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 40px;
  width: 264px;
  color: var(--light-text-color);
  padding-left: 16px;
}
.subscription-form-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  transition: transform var(--transition-timing);
}
.subscription-form-input:focus {
  outline: none;
  border-color: var(--green);
}
.subscription-form-input:focus + .subscription-form-label,
.subscription-form-input:not(:placeholder-shown) + .subscription-form-label {
  transform: translate(-16px, -40px);
}

.subscription-form-submit {
  height: 40px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscription-form-icon {
  fill: var(--light-text-color);
}

/*modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-timing),
    visibility var(--transition-timing);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  width: 408px;
  height: 600px;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-timing);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}
.modal-close-btn {
  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background: var(--ocean);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--light-text-color);
}
/*modal form*/
.contacting-user {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--navy-blue);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-slate);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color var(--transition-timing);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--iris);
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill var(--transition-timing);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--iris);
}
.modal-form-comment {
  resize: none;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form-comment:focus {
  outline: none;
  border-color: var(--iris);
}
.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-check-desc {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/property.svg);
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url(../images/icons/property-click.svg);
}

.modal-form-submit {
  align-self: center;
}

/* only mobile
 0px - 767px*/
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .list-contacts {
    display: none;
  }
  .header-container {
    justify-content: space-between;
  }
  /*mobile-menu*/
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--light-text-color);
    transform: translateX(100%);
    transition: transform var(--transition-timing);
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-window.is-open {
    transform: translateX(0);
  }

  .mobile-modal-close-btn {
    background: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .mobile-modal-close-btn:hover,
  .mobile-modal-close-btn:focus {
    background: var(--ocean);
  }

  .mobile-modal-close-btn:hover .modal-close-btn-icon,
  .mobile-modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--light-text-color);
  }

  .mobile-menu {
    margin-bottom: auto;
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 11;
    text-transform: capitalize;
    color: var(--navy-blue);
    transition: color var(--transition-timing);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--ocean);
  }

  .active-menu {
    color: var(--ocean);
  }

  .mobile-list-contacts {
    margin-bottom: 48px;
  }

  .mobile-contact-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-phone-number {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.11;
    color: var(--iris);
  }
  .mobile-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--slate);
  }

  .mobile-menu-social-list {
    display: flex;
    /*gap: 32px;*/
    justify-content: space-between;
  }
  /*feature*/
  .feature-item:not(:last-child) {
    margin-bottom: 72px;
  }

  /*Our Team*/
  .section-our-team {
    padding-bottom: 104px;
  }

  .section-our-team .list-indent {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  /*Customers*/
  .section-customers .list-indent {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
  }

  /*footer*/
  .footer-purpose {
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-media {
    margin-bottom: 72px;
  }
  .link-logo-bottom {
    text-align: center;
  }
  .social-title {
    text-align: center;
  }

  .subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscription-block {
    width: 100%;
  }
  .subscription-text {
    text-align: center;
  }
  .subscription-form-submit {
    margin: auto;
  }
  .subscription-form-input {
    width: 100%;
    margin-bottom: 16px;
  }

  .modal {
    width: calc(100% - 30px);
  }
}

/*480px + */
@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*tablet
768px + */
@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }
  .mobile-menu-window {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  /*header*/
  .menu {
    align-items: center;
    display: flex;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy-blue);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-timing);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--ocean);
  }

  .active-menu {
    position: relative;
    color: var(--ocean);
  }

  .active-menu::after {
    content: "";
    background: var(--ocean);
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  /*contacts*/
  .list-contacts {
    margin-left: auto;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 4px;
  }
  .email,
  .phone-number {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--slate);
    display: block;
    transition: color var(--transition-timing);
  }

  .email:hover,
  .email:focus,
  .phone-number:hover,
  .phone-number:focus {
    color: var(--iris);
  }
  /*hero*/
  .hero {
    text-align: center;
    padding-bottom: 108px;
  }
  .hero-title {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }

  /*feature*/
  .list-indent {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 78px;
    justify-content: center;
  }

  .feature-item {
    width: 356px;
    flex-basis: calc((100% - 48px) / 2);
  }
  /*Our Team*/
  .section-our-team {
    padding-bottom: 104px;
  }

  .section-our-team .list-indent {
    row-gap: 64px;
  }

  /*Customers*/
  .customer-list-item {
    width: 168px;
    height: 88px;
  }
  /*footer*/
  .block-footer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-purpose {
    margin-right: 24px;
  }
  .subscription-block {
    display: flex;
  }
}
/* only tablet
 768px - 1199px*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    width: 565px;
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .list-contacts {
    display: flex;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .email,
  .phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  /*hero*/
  .hero {
    text-align: center;
    padding-bottom: 188px;
    padding-top: 188px;
  }
  .hero-title {
    margin-bottom: 48px;
  }

  /*feature*/
  .section-feature {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .list-indent {
    column-gap: 24px;
    row-gap: 48px;
  }
  .feature-item {
    width: 264px;
    flex-basis: auto;
    /*calc((100% - 48px) / 4);*/
  }

  .feature-header-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
    text-align: left;
  }

  .feature-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
  }
  .feature-item::before {
    display: block;
    content: "";
    height: 112px;
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--cloud);
    margin-bottom: 8px;
  }

  .icon-antenna::before {
    background-image: url(../images/icons/antenna.svg);
  }
  .icon-clock::before {
    background-image: url(../images/icons/clock.svg);
  }
  .icon-diagram::before {
    background-image: url(../images/icons/diagram.svg);
  }
  .icon-astronaut::before {
    background-image: url(../images/icons/astronaut.svg);
  }

  /*What are we doing*/
  .section-our-works {
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /*Our Team*/
  .section-our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /*Customers*/
  .section-customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  /*footer*/
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .block-footer {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-purpose {
    margin-right: 120px;
  }

  .subscription-form {
    margin-left: 80px;
  }
}

/*mobile 2x*/
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    max-width: 428рх;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_mob@2x.jpg");
  }
}

/*tablet 1x*/
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768рх;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_tab@1x.jpg");
  }
}
/*tablet 2x*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    max-width: 768рх;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_tab@2x.jpg");
  }
}

/*desktop 1x*/
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440рх;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_des@1x.jpg");
  }
}
/*desktop 2x*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    max-width: 1440рх;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_des@2x.jpg");
  }
}

/*Portfolio*/
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
/*filters*/
.list-filter-buttons {
  margin-bottom: 72px;
  justify-content: center;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  background: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  padding: 12px 24px;
  transition: color var(--transition-timing),
    background var(--transition-timing);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--light-text-color);
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*cards*/
.our-works {
  flex-wrap: wrap;
}

.our-works-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  box-sizing: border-box;
  flex-basis: calc((100% - 48px) / 3);
}
.our-works-link {
  display: block;
}
.our-works-link:hover,
.our-works-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-works-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
  background: var(--iris);
  padding: 40px 32px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  transform: translate(0, 100%);
  transition: transform var(--transition-timing);
}
.our-works-link:hover .overlay,
.our-works-link:focus .overlay {
  transform: translate(0, 0);
}

.our-works-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  background: var(--light-text-color);
  border: 1px solid var(--cornflower);
  border-top: none;
}
