/*variables*/
:root {
  --slate: #434455;
  --light-text-color: #ffffff;
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*common styles*/
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  background: var(--light-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-indent {
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/*components */
.text-header-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.text-header-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.text-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*old new*/
.container {
  padding-left: 15px;
  padding-right: 15px;
}

/*everywhere*/

/*header*/
.top-header {
  background: var(--light-text-color);
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
}
/*nav*/
.top-nav {
  display: flex;
  align-items: center;
}

.link-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.web-top {
  line-height: 1.33;
  color: var(--iris);
}

.studio-top {
  line-height: 1.33;
  color: var(--navy-blue);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color var(--transition-timing);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--ocean);
}
.social-list-icon {
  fill: var(--light-text-color);
  transition: fill var(--transition-timing);
}
.social-list-icon:hover,
.social-list-icon:focus {
  fill: var(--cloud);
}

/* only mobile
 0px - 767px*/
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .list-contacts {
    display: none;
  }
  .header-container {
    justify-content: space-between;
  }
  /*mobile-menu*/
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--light-text-color);
    transform: translateX(100%);
    transition: transform var(--transition-timing);
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-window.is-open {
    transform: translateX(0);
  }

  .mobile-modal-close-btn {
    background: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .mobile-modal-close-btn:hover,
  .mobile-modal-close-btn:focus {
    background: var(--ocean);
  }

  .mobile-modal-close-btn:hover .modal-close-btn-icon,
  .mobile-modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--light-text-color);
  }

  .mobile-menu {
    margin-bottom: auto;
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 11;
    text-transform: capitalize;
    color: var(--navy-blue);
    transition: color var(--transition-timing);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--ocean);
  }

  .mobile-list-contacts {
    margin-bottom: 48px;
  }

  .mobile-contact-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-phone-number {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--iris);
  }
  .mobile-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--slate);
  }

  .mobile-menu-social-list {
    display: flex;
    gap: 56px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*tablet*/
@media screen and (min-width: 768px) {
  .container {
    width: 765px;
  }
  .mobile-menu-window {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  /*header*/
  .menu {
    align-items: center;
    display: flex;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy-blue);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-timing);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--ocean);
  }

  .active-menu {
    position: relative;
    color: var(--ocean);
  }

  .active-menu::after {
    content: "";
    background: var(--ocean);
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  /*contacts*/
  .list-contacts {
    margin-left: auto;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 4px;
   
  }
  .email,
  .phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--slate);
    display: block;
    transition: color var(--transition-timing);
  }

  .email:hover,
  .email:focus,
  .phone-number:hover,
  .phone-number:focus {
    color: var(--iris);
  }
}
/*decstop*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .list-contacts {
    display: flex;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }
  .email,
  .phone-number {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
